.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.appName {
    flex-shrink: 0;

    p {
        color: var(--bg-color);
        font: var(--font-l);
        font-weight: 700;
    }
}

.createBtn {
    margin-left: 48px;
    white-space: nowrap;
    flex-shrink: 0;
}

.rightSide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-left: auto;
}