.Card {
    padding: 15px;
    border-radius: 12px;
}

.normal {
    background: var(--card-bg);
    box-shadow: 0 2px 8px var(--card-shadow);
}

.outlined {
    background: transparent;
    border: 1px solid var(--card-bg);
}
